#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.war
*.ear
*.sar
*.class

# Maven
target/
pom.xml.versionsBackup

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr

# eclipse project file
.settings/
.classpath
.project

# Visual Studio Code
.vscode/
.factorypath

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
